.cartView{
    background-color: #290a56;
    min-width: 100vw;
    min-height: 89vh;
    margin: 0;
    padding: 3em 10em;
    color: blanchedalmond;
}

.noItems{
    background-color: #290a56;
    min-width: 100vw;
    min-height: 89vh;
    padding: 3em 10em;
    color: blanchedalmond;
}