.loader {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./background.jpg);
    background-position-x:center;
    background-size:cover;
    background-position: fixed;
}