.h3{
    color:black !important;
}

.images{
    justify-content: center;
    margin: auto;
    width: 15rem;
    height: 15rem;

}

.productos{
    color:cornsilk;
    font-family: 'Trochut', cursive;
    text-transform: uppercase;
}